.navbar{
position: relative;
background: #2a252d;
margin-top: 8px;
display: block;
padding-right: 80px;
border-radius: 0px;
}
.damn a{
    color: #d3e9f3;
    font-family: 'beauty';
    font-size: 32px;  
}
.damn2 a{
    color: #ed6a5a;    
}
.damn3 a{
    color: #ed6a5a;   
}
.damn4 a{
    color: #fcffeb;   
}
body{
    background-color: #fcffeb;
}
#contenedorlogo {
    background:   #fcffeb;
    position: absolute; 

}
#logo{ 
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 30px;
   width: 187px;
   height: 167px;
   background:#fcffeb;
   margin-top: -615px;
   margin-left: 50%;
   box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
   border:2px solid #5b2333;
}
#marco{
    
    border:1px solid #d3e9f3;
    position: relative;
    padding: 15px;
    margin-top: -9px;
   width: 999px;
   font-family: "tall";
   font-size: 38px;
   height: 69px;
 
}
#izquierda{
    padding-left: 80px;
    
}

#derecha{
    padding-right: 80px;
    
}
@font-face {
    font-family: 'tall';
    src: url("../Fonts/Tall Films Expanded.ttf");
}
@font-face {
    font-family: 'beauty';
    src: url("../Fonts/BeautyDemo.ttf");
    
}
#tercero{
background-color: #d3e9f3;
   position: relative;
   margin-top: 28px;
   width: 900px;
   height: 496px;

   
   
}
#subtercero{
    border:1pt solid #fcffeb;
    background-color: #d3e9f3;
   position: relative;
margin-top: 10px;
 
margin-left: -5px;
   width: 880px;
   height: 470px;

}
#subsubtercero{
    
    background-color:  #fcffeb;
   position: relative;
margin-top:60px;
 
margin-left: 25px;
   width: 795px;
   height: 391px;

}
#myCarousel{
 margin-top: 5px;
  width: 786px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -10px;
  
}
#franja{
    margin-top: -420px;
 margin-left:135px;
 color: #fcffeb;
    background-color: #ed6a5a;
    position: absolute;
    width: 900px;
    
    font-family: 'beauty';
    font-size: 45px;
    padding-top: 3px;
    height: 44px;
    
}
.vl {
    border-left: 1px solid #c9c0c1;
    height: 401px;
    margin-top: -460px;
    margin-left: 175px;
}
.v2 {
    border-left: 1px solid #c9c0c1;
    height: 401px;
    margin-top: -410px;
    margin-left: 1173px;
    position: absolute;
}